<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="howardl2.github.io/documents/resume.pdf">Resume</a></li>
	        		<li><a href="/additional">Additional</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:howardliu94@gmail.com">My Email</a></li>
	        		<li><a href="https://github.com/howardl2">My Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
